In [4]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsRegressor
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import mean_squared_error
import numpy as np

In [13]:
# Load the dataset
file_path = "/Users/jenniferyeaton/Documents/Coursework/Autumn_2023/Math_for_ML/project/pedal_pals/rs_million.csv"
data = pd.read_csv(file_path)

In [14]:
# Display the first few rows of the dataset to understand its structure
data.head()

,trip_id,start_time,stop_time,bike_id,trip_duration,from_station_id,from_station_name,to_station_id,to_station_name,user_type,gender,birth_year,from_latitude,from_longitude,from_location,to_latitude,to_longitude,to_location
0,15308168,2017-07-22T18:03:00.000,2017-07-22T18:25:00.000,1570,1313,71,Morgan St & Lake St,69,Damen Ave & Pierce Ave,Customer,NaN,NaN,41.885483,-87.652305,"{'coordinates': array([-87.65230486, 41.88548...",41.909396,-87.677692,"{'coordinates': array([-87.67769193, 41.90939..."
1,11632541,2016-09-01T08:15:00.000,2016-09-01T08:21:00.000,4117,356,325,Clark St & Winnemac Ave,242,Damen Ave & Leland Ave,Subscriber,Female,1973.0,41.973385,-87.668365,"{'coordinates': array([-87.668365, 41.973385]...",41.967094,-87.679028,"{'coordinates': array([-87.679028, 41.967094]..."
2,2122058,2014-06-15T18:32:00.000,2014-06-15T18:42:00.000,864,583,71,Morgan St & Lake St,92,Carpenter St & Huron St,Customer,NaN,NaN,41.885483,-87.652305,"{'coordinates': array([-87.652305, 41.885483]...",41.894556,-87.653449,"{'coordinates': array([-87.653449, 41.894556]..."
3,8041784,2015-10-22T14:50:00.000,2015-10-22T15:07:00.000,1076,980,90,Millennium Park,97,Museum Campus,Customer,NaN,NaN,41.881032,-87.624084,"{'coordinates': array([-87.624084, 41.881032]...",41.865212,-87.617759,"{'coordinates': array([-87.617759, 41.865212]..."
4,22940999,2019-06-02T11:48:32.000,2019-06-02T14:01:29.000,4694,7977,341,Adler Planetarium,35,Streeter Dr & Grand Ave,Customer,NaN,NaN,41.866095,-87.607267,"{'coordinates': array([-87.607267, 41.866095]...",41.892278,-87.612043,"{'coordinates': array([-87.612043, 41.892278]..."

In [15]:
# Preprocessing
# Convert 'start_time' to datetime and extract relevant features
data['start_time'] = pd.to_datetime(data['start_time'])
data['hour_of_day'] = data['start_time'].dt.hour

data.head()

,trip_id,start_time,stop_time,bike_id,trip_duration,from_station_id,from_station_name,to_station_id,to_station_name,user_type,gender,birth_year,from_latitude,from_longitude,from_location,to_latitude,to_longitude,to_location,hour_of_day
0,15308168,2017-07-22 18:03:00,2017-07-22T18:25:00.000,1570,1313,71,Morgan St & Lake St,69,Damen Ave & Pierce Ave,Customer,NaN,NaN,41.885483,-87.652305,"{'coordinates': array([-87.65230486, 41.88548...",41.909396,-87.677692,"{'coordinates': array([-87.67769193, 41.90939...",18
1,11632541,2016-09-01 08:15:00,2016-09-01T08:21:00.000,4117,356,325,Clark St & Winnemac Ave,242,Damen Ave & Leland Ave,Subscriber,Female,1973.0,41.973385,-87.668365,"{'coordinates': array([-87.668365, 41.973385]...",41.967094,-87.679028,"{'coordinates': array([-87.679028, 41.967094]...",8
2,2122058,2014-06-15 18:32:00,2014-06-15T18:42:00.000,864,583,71,Morgan St & Lake St,92,Carpenter St & Huron St,Customer,NaN,NaN,41.885483,-87.652305,"{'coordinates': array([-87.652305, 41.885483]...",41.894556,-87.653449,"{'coordinates': array([-87.653449, 41.894556]...",18
3,8041784,2015-10-22 14:50:00,2015-10-22T15:07:00.000,1076,980,90,Millennium Park,97,Museum Campus,Customer,NaN,NaN,41.881032,-87.624084,"{'coordinates': array([-87.624084, 41.881032]...",41.865212,-87.617759,"{'coordinates': array([-87.617759, 41.865212]...",14
4,22940999,2019-06-02 11:48:32,2019-06-02T14:01:29.000,4694,7977,341,Adler Planetarium,35,Streeter Dr & Grand Ave,Customer,NaN,NaN,41.866095,-87.607267,"{'coordinates': array([-87.607267, 41.866095]...",41.892278,-87.612043,"{'coordinates': array([-87.612043, 41.892278]...",11

In [16]:
# Encoding categorical variables 'user_type'
label_encoder = LabelEncoder()
data['user_type_encoded'] = label_encoder.fit_transform(data['user_type'])

data.head()

,trip_id,start_time,stop_time,bike_id,trip_duration,from_station_id,from_station_name,to_station_id,to_station_name,user_type,gender,birth_year,from_latitude,from_longitude,from_location,to_latitude,to_longitude,to_location,hour_of_day,user_type_encoded
0,15308168,2017-07-22 18:03:00,2017-07-22T18:25:00.000,1570,1313,71,Morgan St & Lake St,69,Damen Ave & Pierce Ave,Customer,NaN,NaN,41.885483,-87.652305,"{'coordinates': array([-87.65230486, 41.88548...",41.909396,-87.677692,"{'coordinates': array([-87.67769193, 41.90939...",18,0
1,11632541,2016-09-01 08:15:00,2016-09-01T08:21:00.000,4117,356,325,Clark St & Winnemac Ave,242,Damen Ave & Leland Ave,Subscriber,Female,1973.0,41.973385,-87.668365,"{'coordinates': array([-87.668365, 41.973385]...",41.967094,-87.679028,"{'coordinates': array([-87.679028, 41.967094]...",8,2
2,2122058,2014-06-15 18:32:00,2014-06-15T18:42:00.000,864,583,71,Morgan St & Lake St,92,Carpenter St & Huron St,Customer,NaN,NaN,41.885483,-87.652305,"{'coordinates': array([-87.652305, 41.885483]...",41.894556,-87.653449,"{'coordinates': array([-87.653449, 41.894556]...",18,0
3,8041784,2015-10-22 14:50:00,2015-10-22T15:07:00.000,1076,980,90,Millennium Park,97,Museum Campus,Customer,NaN,NaN,41.881032,-87.624084,"{'coordinates': array([-87.624084, 41.881032]...",41.865212,-87.617759,"{'coordinates': array([-87.617759, 41.865212]...",14,0
4,22940999,2019-06-02 11:48:32,2019-06-02T14:01:29.000,4694,7977,341,Adler Planetarium,35,Streeter Dr & Grand Ave,Customer,NaN,NaN,41.866095,-87.607267,"{'coordinates': array([-87.607267, 41.866095]...",41.892278,-87.612043,"{'coordinates': array([-87.612043, 41.892278]...",11,0

In [22]:
# KNN training on full dataset
# Selecting relevant columns
X_allyears = data[['hour_of_day', 'from_station_id', 'user_type_encoded']]
y_allyears = data['trip_duration']

# Splitting the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X_allyears, y_allyears, test_size=0.2, random_state=42)

# Training the KNN model
knn = KNeighborsRegressor(n_neighbors=100)
knn.fit(X_train, y_train)

# Making predictions
y_pred = knn.predict(X_test)

# Predicting and evaluating the model
mse_allyears = mean_squared_error(y_test, y_pred)
rmse_allyears = np.sqrt(mse_allyears)

print("Root Mean Squared Error of the Model trained and tested on the full data: ", rmse)

Root Mean Squared Error of the Model trained and tested on the full data:  6796.925518416654

In [25]:
# KNN training on 2018 dataset and testing on 2019 dataset
# Filtering the DataFrame for the year 2018
data_2018 = data[data['start_time'].dt.year == 2018]

# Selecting relevant columns for X
X_2018 = data_2018[['hour_of_day', 'from_station_id', 'user_type_encoded']]

# Filtering the DataFrame for the year 2018
data_2019 = data[data['start_time'].dt.year == 2019]

# Selecting relevant columns for y
y_2019 = data_2019['trip_duration']

# Splitting the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X_2018, y_2019, test_size=0.2, random_state=42)

# Training the KNN model
knn = KNeighborsRegressor(n_neighbors=100)
knn.fit(X_2018, y_2019)

# Making predictions
y_pred = knn.predict(X_test)

# Predicting and evaluating the model
mse_20182019 = mean_squared_error(y_test, y_pred)
rmse_20182019 = np.sqrt(mse_20182019)

print("Root Mean Squared Error of the Model that trained on 2018 and tested on 2019: ", rmse_20182019)

ValueError: Found input variables with inconsistent numbers of samples: [169483, 179664]