In [81]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsRegressor
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import mean_squared_error
import numpy as np

In [82]:
# Load the dataset
file_path = "/Users/jenniferyeaton/Documents/Coursework/Autumn_2023/Math_for_ML/project/pedal_pals/rs_million.csv"
data = pd.read_csv(file_path)

In [83]:
# Display the first few rows of the dataset to understand its structure
data.head()

,trip_id,start_time,stop_time,bike_id,trip_duration,from_station_id,from_station_name,to_station_id,to_station_name,user_type,gender,birth_year,from_latitude,from_longitude,from_location,to_latitude,to_longitude,to_location
0,15308168,2017-07-22T18:03:00.000,2017-07-22T18:25:00.000,1570,1313,71,Morgan St & Lake St,69,Damen Ave & Pierce Ave,Customer,NaN,NaN,41.885483,-87.652305,"{'coordinates': array([-87.65230486, 41.88548...",41.909396,-87.677692,"{'coordinates': array([-87.67769193, 41.90939..."
1,11632541,2016-09-01T08:15:00.000,2016-09-01T08:21:00.000,4117,356,325,Clark St & Winnemac Ave,242,Damen Ave & Leland Ave,Subscriber,Female,1973.0,41.973385,-87.668365,"{'coordinates': array([-87.668365, 41.973385]...",41.967094,-87.679028,"{'coordinates': array([-87.679028, 41.967094]..."
2,2122058,2014-06-15T18:32:00.000,2014-06-15T18:42:00.000,864,583,71,Morgan St & Lake St,92,Carpenter St & Huron St,Customer,NaN,NaN,41.885483,-87.652305,"{'coordinates': array([-87.652305, 41.885483]...",41.894556,-87.653449,"{'coordinates': array([-87.653449, 41.894556]..."
3,8041784,2015-10-22T14:50:00.000,2015-10-22T15:07:00.000,1076,980,90,Millennium Park,97,Museum Campus,Customer,NaN,NaN,41.881032,-87.624084,"{'coordinates': array([-87.624084, 41.881032]...",41.865212,-87.617759,"{'coordinates': array([-87.617759, 41.865212]..."
4,22940999,2019-06-02T11:48:32.000,2019-06-02T14:01:29.000,4694,7977,341,Adler Planetarium,35,Streeter Dr & Grand Ave,Customer,NaN,NaN,41.866095,-87.607267,"{'coordinates': array([-87.607267, 41.866095]...",41.892278,-87.612043,"{'coordinates': array([-87.612043, 41.892278]..."

In [84]:
# Preprocessing
# Convert 'start_time' to datetime and extract relevant features
data['start_time'] = pd.to_datetime(data['start_time'])
data['hour_of_day'] = data['start_time'].dt.hour
data['day_of_week'] = data['start_time'].dt.hour
data['month_year'] = data['start_time'].dt.to_period('M')
data['year'] = data['start_time'].dt.year
#data['quarter'] = data['start_time'].dt.to_period('Q')
data['day'] = data['start_time'].dt.day_of_week
data['hour'] = data['start_time'].dt.hour
data['month'] = data['start_time'].dt.month
data['user_type'] = data['user_type'].apply(lambda x: 1 if x == 'subscriber' else 0)
data['gender'] = data['gender'].apply(lambda x: 1 if x == 'female' else 0)
data['trip_duration_min'] = data['trip_duration']/60
data = data.dropna(subset=['from_latitude', 'from_longitude'])

# Encoding categorical variables 'user_type'
#label_encoder = LabelEncoder()
#data['user_type_encoded'] = label_encoder.fit_transform(data['user_type'])
#data['gender_numeric'] = label_encoder.fit_transform(data['gender'])

data.head()

,trip_id,start_time,stop_time,bike_id,trip_duration,from_station_id,from_station_name,to_station_id,to_station_name,user_type,...,to_longitude,to_location,hour_of_day,day_of_week,month_year,year,day,hour,month,trip_duration_min
0,15308168,2017-07-22 18:03:00,2017-07-22T18:25:00.000,1570,1313,71,Morgan St & Lake St,69,Damen Ave & Pierce Ave,0,...,-87.677692,"{'coordinates': array([-87.67769193, 41.90939...",18,18,2017-07,2017,5,18,7,21.883333
1,11632541,2016-09-01 08:15:00,2016-09-01T08:21:00.000,4117,356,325,Clark St & Winnemac Ave,242,Damen Ave & Leland Ave,0,...,-87.679028,"{'coordinates': array([-87.679028, 41.967094]...",8,8,2016-09,2016,3,8,9,5.933333
2,2122058,2014-06-15 18:32:00,2014-06-15T18:42:00.000,864,583,71,Morgan St & Lake St,92,Carpenter St & Huron St,0,...,-87.653449,"{'coordinates': array([-87.653449, 41.894556]...",18,18,2014-06,2014,6,18,6,9.716667
3,8041784,2015-10-22 14:50:00,2015-10-22T15:07:00.000,1076,980,90,Millennium Park,97,Museum Campus,0,...,-87.617759,"{'coordinates': array([-87.617759, 41.865212]...",14,14,2015-10,2015,3,14,10,16.333333
4,22940999,2019-06-02 11:48:32,2019-06-02T14:01:29.000,4694,7977,341,Adler Planetarium,35,Streeter Dr & Grand Ave,0,...,-87.612043,"{'coordinates': array([-87.612043, 41.892278]...",11,11,2019-06,2019,6,11,6,132.950000

In [85]:
# Counting the number of NaNs in each column
missing_values = data.isna().sum()

# Displaying the columns with missing values and their counts
missing_values[missing_values > 0]

birth_year      229862
to_latitude         34
to_longitude        34
to_location         34
dtype: int64

In [96]:
# DONT PLAN TO REPORT THESE FINDINGS: KNN training on full dataset from 2014 - 2019 and test on 2019
# Hypothesis: Will perform well if we forecast 2019 data using 2019 data...

# Selecting relevant columns
X_allyears = data[['from_latitude', 'from_longitude', 'user_type', 'hour_of_day', 'gender', 'day_of_week', 'month', 'year']]
#X_allyears = data[['hour_of_day', 'from_station_id', 'user_type_encoded','gender_numeric', 'birth_year']]
y_allyears = data['trip_duration_min']

# Splitting the dataset into training and testing sets
X_train_allyears, X_test_allyears, y_train_allyears, y_test_allyears = train_test_split(X_allyears, y_allyears, test_size=0.2, random_state=42)

# Training the KNN model
knn = KNeighborsRegressor(n_neighbors=100)
knn.fit(X_train_allyears, y_train_allyears)

# Making predictions
y_pred_allyears = knn.predict(X_test_allyears)

# Predicting and evaluating the model
mse_allyears = mean_squared_error(y_test_allyears, y_pred_allyears)
rmse_allyears = np.sqrt(mse_allyears)

print("Root Mean Squared Error of the Model trained and tested on the full data: ", rmse_allyears)

Root Mean Squared Error of the Model trained and tested on the full data:  176.96635344400352

In [103]:
# KNN training on 2014-2017 data and testing on 2019 data
# Hypothesis: Will perform poorly
# Result: Result virtually identical to training on 2018 and testing on 2019

# Dataset including data from 2014 through 2017
data_2014_2017 = data[(data['start_time'].dt.year >= 2014) & (data['start_time'].dt.year <= 2017)]
X_2014_2017 = data_2014_2017[['from_latitude', 'from_longitude', 'user_type', 'hour_of_day', 'gender', 'day_of_week', 'month', 'year']]
y_2014_2017 = data_2014_2017['trip_duration_min']

# Preparing the 2019 Data (for prediction, no target variable available)
data_2019 = data[data['start_time'].dt.year == 2019]
X_2019 = data_2019[['from_latitude', 'from_longitude', 'user_type', 'hour_of_day', 'gender', 'day_of_week', 'month', 'year']]
y_2019 = data_2019['trip_duration_min']

# Splitting the 2018 dataset into training and testing sets
X_train_2014_2017, X_test_2014_2017, y_train_2014_2017, y_test_2014_2017 = train_test_split(X_2014_2017, y_2014_2017, test_size=0.2, random_state=42)

# Splitting the 2018 dataset into training and testing sets
X_train_2019, X_test_2019, y_train_2019, y_test_2019 = train_test_split(X_2019, y_2019, test_size=0.2, random_state=42)

# Training the KNN model on 2018 data
knn = KNeighborsRegressor(n_neighbors=100)
knn.fit(X_train_2014_2017, y_train_2014_2017)

# Predicting for 2019
y_pred_2019_traintill2017_test2019 = knn.predict(X_train_2019)

# Predicting and evaluating the model
# or should we do mean average error?
mse_traintill2017_test2019 = mean_squared_error(y_train_2019, y_pred_2019_traintill2017_test2019)
rmse_traintill2017_test2019 = np.sqrt(mse_traintill2017_test2019)

print("Root Mean Squared Error of the Model that trained on 2014-2017 and tested on 2019: ", rmse_traintill2017_test2019)

Root Mean Squared Error of the Model that trained on 2014-2017 and tested on 2019:  323.86324149616655

In [110]:
# KNN training on 2014-2018 data and testing on 2019 data
# Hypothesis: Will perform better than the model that trained on 2014-2017 and testing on 2019
# Result: 

# Dataset including data from 2014 through 2018
data_2014_2018 = data[(data['start_time'].dt.year >= 2014) & (data['start_time'].dt.year <= 2018)]
X_2014_2018 = data_2014_2018[['from_latitude', 'from_longitude', 'user_type', 'hour_of_day', 'gender', 'day_of_week', 'month', 'year']]
y_2014_2018 = data_2014_2018['trip_duration_min']

# Preparing the 2019 Data (for prediction, no target variable available)
data_2019 = data[data['start_time'].dt.year == 2019]
X_2019 = data_2019[['from_latitude', 'from_longitude', 'user_type', 'hour_of_day', 'gender', 'day_of_week', 'month', 'year']]
y_2019 = data_2019['trip_duration_min']

# Splitting the 2018 dataset into training and testing sets
X_train_2014_2018, X_test_2018, y_train_2014_2018, y_test_2018 = train_test_split(X_2014_2018, y_2014_2018, test_size=0.2, random_state=42)

# Splitting the 2018 dataset into training and testing sets
X_train_2019, X_test_2019, y_train_2019, y_test_2019 = train_test_split(X_2019, y_2019, test_size=0.2, random_state=42)

# Training the KNN model on 2018 data
knn = KNeighborsRegressor(n_neighbors=100)
knn.fit(X_train_2014_2018, y_train_2014_2018)

# Predicting for 2019
y_pred_2019_traintill2018_test2019 = knn.predict(X_train_2019)

# Predicting and evaluating the model
mse_traintill2018_test2019 = mean_squared_error(y_train_2019, y_pred_2019_traintill2018_test2019)
rmse_traintill2018_test2019 = np.sqrt(mse_traintill2018_test2019)

print("Root Mean Squared Error of the Model that trained on 2014-2018 and tested on 2019: ", rmse_traintill2018_test2019)

Root Mean Squared Error of the Model that trained on 2014-2018 and tested on 2019:  325.71451396687416

In [106]:
# KNN training on 2018 dataset and testing on 2019 dataset
# Hypothesis: Will do great!
# Result: Sucks

# Preparing the 2018 Data
data_2018 = data[data['start_time'].dt.year == 2018]
X_2018 = data_2018[['from_latitude', 'from_longitude', 'user_type', 'hour_of_day', 'gender', 'day_of_week', 'month', 'year']]
y_2018 = data_2018['trip_duration_min']

# Preparing the 2019 Data (for prediction, no target variable available)
data_2019 = data[data['start_time'].dt.year == 2019]
X_2019 = data_2019[['from_latitude', 'from_longitude', 'user_type', 'hour_of_day', 'gender', 'day_of_week', 'month', 'year']]
y_2019 = data_2019['trip_duration_min']

# Splitting the 2018 dataset into training and testing sets
X_train_2018, X_test_2018, y_train_2018, y_test_2018 = train_test_split(X_2018, y_2018, test_size=0.2, random_state=42)

# Splitting the 2018 dataset into training and testing sets
X_train_2019, X_test_2019, y_train_2019, y_test_2019 = train_test_split(X_2019, y_2019, test_size=0.2, random_state=42)

# Training the KNN model on 2018 data
knn = KNeighborsRegressor(n_neighbors=100)
knn.fit(X_train_2018, y_train_2018)

# Predicting for 2019
y_pred_2019_20182019 = knn.predict(X_train_2019)

# Predicting and evaluating the model
# or should we do mean average error?
mse_20182019 = mean_squared_error(y_train_2019, y_pred_2019_20182019)
rmse_20182019 = np.sqrt(mse_20182019)

print("Root Mean Squared Error of the Model that trained on 2018 and tested on 2019: ", rmse_20182019)

Root Mean Squared Error of the Model that trained on 2018 and tested on 2019:  325.7401366388909