In [4]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsRegressor
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import mean_squared_error
import numpy as np

In [5]:
# Load the dataset (YIKES - hard coded)
#file_path = "/rs_100000_2017_to_present.csv"
file_path = "/Users/jenniferyeaton/Documents/Coursework/Autumn_2023/Math_for_ML/project/pedal_pals/rs_100000_2017_to_present.csv"
data = pd.read_csv(file_path)

In [6]:
# Display the first few rows of the dataset to understand its structure
data.head()

,trip_id,start_time,stop_time,bike_id,trip_duration,from_station_id,from_station_name,to_station_id,to_station_name,user_type,gender,birth_year,from_latitude,from_longitude,from_location,to_latitude,to_longitude,to_location
0,22378094,2019-04-20T22:05:37.000,2019-04-20T22:22:50.000,2665,1033,341,Adler Planetarium,90,Millennium Park,Subscriber,Female,1986.0,41.866095,-87.607267,"{'coordinates': array([-87.607267, 41.866095]...",41.881032,-87.624084,"{'coordinates': array([-87.62408432, 41.88103..."
1,15431002,2017-07-28T14:07:00.000,2017-07-28T14:15:00.000,1524,492,268,Lake Shore Dr & North Blvd,126,Clark St & North Ave,Customer,NaN,NaN,41.911722,-87.626804,"{'coordinates': array([-87.626804, 41.911722]...",41.911974,-87.631942,"{'coordinates': array([-87.631942, 41.911974]..."
2,19509743,2018-07-14T13:59:09.000,2018-07-14T14:06:30.000,2660,441,226,Racine Ave & Belmont Ave,232,Pine Grove Ave & Waveland Ave,Subscriber,Male,1990.0,41.939743,-87.658865,"{'coordinates': array([-87.658865, 41.939743]...",41.949275,-87.646303,"{'coordinates': array([-87.646303, 41.949275]..."
3,14223695,2017-05-29T17:42:00.000,2017-05-29T18:07:00.000,3828,1508,177,Theater on the Lake,58,Marshfield Ave & Cortland St,Subscriber,Female,1990.0,41.926277,-87.630834,"{'coordinates': array([-87.630834, 41.926277]...",41.916017,-87.668879,"{'coordinates': array([-87.668879, 41.916017]..."
4,16804677,2017-10-05T07:25:00.000,2017-10-05T07:28:00.000,4705,236,191,Canal St & Monroe St (*),49,Dearborn St & Monroe St,Subscriber,Male,1975.0,41.880884,-87.639525,"{'coordinates': array([-87.639525, 41.880884]...",41.881320,-87.629521,"{'coordinates': array([-87.62952092, 41.88131..."

In [7]:
# Preprocessing
# Convert 'start_time' to datetime and extract relevant features
data['start_time'] = pd.to_datetime(data['start_time'])
data['hour_of_day'] = data['start_time'].dt.hour

# Encoding categorical variables 'user_type'
label_encoder = LabelEncoder()
data['user_type_encoded'] = label_encoder.fit_transform(data['user_type'])

# Selecting relevant columns
X = data[['hour_of_day', 'from_station_id', 'user_type_encoded']]
y = data['trip_duration']

# Splitting the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Training the KNN model
knn = KNeighborsRegressor(n_neighbors=5)
knn.fit(X_train, y_train)

# Predicting and evaluating the model
y_pred = knn.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)

rmse  # Root Mean Squared Error of the model

40734.054358831156